PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.khoadig.mongodb.net/?appName=Cluster0
DB_NAME=al_anwar_db
JWT_SECRET=al_anwar_luxury_fabrics_super_secret_jwt_key_2026
SESSION_SECRET=al_anwar_session_secret_key_923363925950
WHATSAPP_NUMBER=+923363925950
UPLOAD_DIR=public/uploads
NODE_ENV=development
